
body {
  font-family: sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 20px;
}
#container-jogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#menu-lateral {
  background: #222;
  padding: 10px;
  width: 250px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: translateX(0);
}
#menu-lateral.oculto {
  opacity: 0;
  transform: translateX(-30px);
  pointer-events: none;
}
#tabuleiro-area {
  flex-grow: 1;
}
#word-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}
.letter {
  aspect-ratio: 1 / 1;
  font-size: 14px;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;
}
.letter.selected {
  background-color: #0ff;
  color: #000;
}
.letter.found {
  background-color: #0a0;
  color: #fff;
}
#botao-reabrir-menu {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background: #0ff;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}


.tema-retro {
  font-family: 'Press Start 2P', cursive;
  background-color: #111;
  color: #00ffff;
}
